
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-12 text-center"><h4><b>Contact & Support</b> </h4></div>
    <div class="col-12" style="background-color: #f8f9fa">
        <i class="fa fa-address-book" style='font-size: 100px; color: #706b6b'></i>
        <p>
            <b>
                Name:Arun Antony<br />
                City:	India, Ernakulam<br />
                E-Mail:	pdfpuppy@gmail.com
            </b>
        </p>
    </div>
</div>

