
@{
    ViewBag.Title = "DataProtectionSecurity";
}
<div>
    <div class="row">
        <div class="col-12 text-center"><h4><b>Data Protection & Security</b></h4></div>
        <div class="col-12" style="background-color: #f8f9fa">
            <i class='fa fa-shield' style='font-size: 100px; color: #706b6b'></i>
            <p>
                By using the PDF puppy, the files selected by the user are uploaded to the servers of Pdfpuppy.com and are then processed, converted and returned to the user.

                All uploaded files and data are treated as strictly confidential and are never disclosed to third parties. Uploaded files are immediately and automatically deleted right after the conversion. Hence, they are only saved temporarily for the time of conversion. The converted files may be available up to 45 seconds after the conversion has finished to give the user the chance to download the converted files. Only the user, who has uploaded the files, has access to the converted files during this time. After the expiration of 45 seconds even these files will be securely deleted and there is absolutely no way to restore them.

                The website is only available through an HTTPS connection which is used to transfer files completely encrypted and securely over the internet. This way the security of your files will be ensured for the overall process.

                There is done every effort and all appropriate measures are taken to make the PDF puppy as secure as possible. But nevertheless, a conversion of highly sensitive and critical files is not recommended (such as password lists or internal documents of companies which could be bad for business). The users have to judge for themselves whether files are allowed to be uploaded to Pdfpuppy.com and processed by the converter.
            </p>
        </div>
    </div>
</div>

