
@{
    ViewBag.Title = "News";
}

<div class="col-12" style="background-color: #f8f9fa">
    
    <b>New  & Project History Time Line</b>
    <ol>
        <li>
            <b>Version 1.0</b>
            <p>
                <ul>
                    <li>
                        PDFpuppy was Created on NOV-03-2022
                    </li>
                    <li>
                        Images, MS-Office 2019, OpenOffice can be converted to PDF
                    </li>
                    <li>
                        Can Upload  files  up to 4 MB
                    </li>
                </ul>
            </p>
        </li>
        
    </ol>
</div>

