
@{
    ViewBag.Title = "PrivacyPolicy";
}


<div class="row">

    <div class="col-12" style="background-color: #f8f9fa">
        <b>
            This is a non-commercial website.
            All provided services are completely free and without obligation.
        </b>
        <br/>
        Disclaimer - legal notices
        <ol>
            <li>
                <b>Contents</b>
                <p>
                    The author reserves the right not to be responsible for the topicality, correctness, completeness or quality of the information provided. Liability claims regarding damage caused by the use of any information provided, including any kind of information which is incomplete or incorrect, will therefore be rejected as long as there is no evidence of wilful intent or gross negligence on the part of the author.

                    All offers are non-binding and without obligation. Parts of the pages or the complete publication including all offers and information might be extended, changed or partly or completely deleted by the author without separate announcement.

                </p>
            </li>
            <li>
                <b>Referrals and links</b>
                <p>
                    The author is not responsible for any contents linked or referred to from his pages - unless he has full knowledge of illegal contents and would be able to prevent the visitors of his site from viewing those pages. The author hereby declares expressly that at the time the links were set up there was no illegal content to be recognized on the pages to be linked to. If any damage occurs by the use of information presented there, only the author of the respective pages might be liable, not the one who has linked to these pages.
                </p>
            </li>
            <li>
                <b>Copyright</b>
                <p>
                    The copyright for any material created by the author is reserved. Any duplication or use of objects in other electronic or printed publications is not permitted without the author's agreement.

                    Any trademarks, registered trademarks and possible trade marks registered by third parties within the authors' page, are subject to the provisions of the currently valid rights of identity laws and proprietary rights of each registered owner.
                </p>
            </li>
            <li>
                <b>Cookies & Advertisements</b>
                <p>
                    This website uses Google Adsense, a service to include advertisements of Google Inc. ("Google"). Google Adsense uses so-called "Cookies", text files, which will be saved on your computer. They allow an analysis of the employment of this site and evaluate information like the user traffic. All information concerning the employment of this site (including your IP address) will be sent and saved on the server of Google located in the USA. All these information can be passed to partners of Google.

                    Personal data will be used for personalization of ads. Cookies may be used for personalized and non-personalized advertising. Google’s uses of information can be found here:
                    <a href="https://policies.google.com/technologies/partner-sites">Google’s Privacy & Terms</a>

                    You are able to prevent the use of cookies by disabling them in your browser, but then you possibly cannot make full use of all features provided on this site. By using this service you agree to the processing of your collected data by Google in the way and purpose mentioned before.
                </p>
            </li>
            <li>
                <b>Security & Data Protection</b>
                <p>
                    By using the PDF puppy, the files selected by the user are uploaded to the servers of Pdfpuppy.com and are then processed, converted and returned to the user.

                    All uploaded files and data are treated as strictly confidential and are never disclosed to third parties. Uploaded files are immediately and automatically deleted right after the conversion. Hence, they are only saved temporarily for the time of conversion. The converted files may be available up to 60 seconds after the conversion has finished to give the user the chance to download the converted files. Only the user, who has uploaded the files, has access to the converted files during this time. After the expiration of 60 seconds even these files will be securely deleted and there is absolutely no way to restore them.

                    The website is only available through an HTTPS connection which is used to transfer files completely encrypted and securely over the internet. This way the security of your files will be ensured for the overall process.

                    There is done every effort and all appropriate measures are taken to make the PDF puppy as secure as possible. But nevertheless, a conversion of highly sensitive and critical files is not recommended (such as password lists or internal documents of companies which could be bad for business). The users have to judge for themselves whether files are allowed to be uploaded to Pdfpuppy.com and processed by the converter.

                    The author is not responsible for possible damages or costs due to security vulnerabilities, software bugs or the lack of security as long as there is no evidence of wilful intent or gross negligence on the part of the author. Just like in any other software or website it is theoretically possible, but unlikely, that data is captured or manipulated caused by security vulnerabilities or bugs in the web software or in the used network protocols like HTTPS. To maintain the overall security of the whole system, each and every software is kept up to date and security leaks are fixed as soon as possible, as long as this is in the area of responsibility of the author.
                </p>
            </li>
            <li>
                <b>About using the PDF puppy</b>
                <p>
                    The author is not liable and does not make any guarantees for the functionality, correctness and accessibility of Pdfpuppy.com and the author dissociates from all damages which can be caused by the use or non-use of the website.

                    Every attempt to influence the website and the provided services in a negative way or every attempt to restrict the availability of the services or even prevent the availability totally, leads irrevocably to a disqualification for an indefinite period.

                    Only the usage via the general user interface on the website is allowed. The use of automatic scripts or the use of automated procedures is strongly prohibited and leads in any case to a restriction or exclusion of the website for an indefinite period.

                    The PDF puppy is only intended for average use. There exist limitations to prevent above-average high use and to guarantee the availability of the services for all other users. In particular, the number of possible conversions per user in a specific time interval can be restricted according to the usage and server capacity.

                    The provided services may be used for private and commercial use. But the commercial use is only allowed if the commercial activity is not only primarily bounded on the usage of the provided services.
                </p>
            </li>
            <li>
                <b> Legal validity of this disclaimer</b>
                <p>

                    This disclaimer is to be regarded as part of the internet publication which you were referred from. If sections or individual terms of this statement are not legal or correct, the content or validity of the other parts remain uninfluenced by this fact.
                </p>
            </li>
        </ol>
    </div>
</div>
