
@{
    ViewBag.Title = "Support Project";
}
 
<div>
    <div class="row">
        <div class="col-12 text-center"><h4><b>Support Project</b></h4></div>
        <div class="col-12" style="background-color: #f8f9fa">
            <div class="text-center">
                <img src="~/Images/donation.png" class="rounded-circle" alt="Cinque Terre">

            </div>

            <div class="p-2">
                <p>
                    <b>PDFpuppy.com is completely free of charge</b>
                </p>
                <p>
                    I'm <b>Arun Antony</b> and I am the developer of <b>PDFpuppy.com</b>, the completely free and online-based PDF-Converter. I'm from Ernakulam, India, and since 2022 I've been developing this online service. I've worked so many hours on this website and my aim is to make this project to  a really comprehensive PDF tool.

                </p>
                <p>
                    I still have a lot of ideas, which I would like to integrate into the website in the future. PDFpuppy.com is being continually developed by me and new features are added from time to time. I'm always doing my best to design an easy and intuitive user interface, which provides a fast and efficient control of all features.


                    I would be glad if you share this PDF converter with all your friends, for example by using <b>Facebook, Twitter, LinkedIn, YouTube, Instagram</b>
                </p>
                <i class="fa fa-facebook-official" style="font-size: 48px; color: #1874ec"></i>
                <i class="fa fa-youtube-play" style="font-size: 48px; color: #f70000"></i>
                <i class="fa fa-instagram" style="font-size: 48px; color: #e10c7f "></i>
                <i class="fa fa-linkedin-square" style="font-size: 48px; color:#0077b5"></i>
                <i class="fa fa-twitter" style="font-size: 48px; color: #05b3ed"></i>

            </div>

        </div>
    </div>
</div>

